<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://use.fontawesome.com/06c9445bfb.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="icon" href="/clock-icon.ico">
  <script src="/js/main.js"></script>
  <script src="/js/roles.js"></script>
  <title>Shenan-Again</title>
</head>

<body onload="getRole()">
    <img class="background-image light-background-image" src="/images/background.png"/>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index.html"><img height=50px; src="/images/clock.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" onclick="toggleToolsMenuIcon()"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/rulebook.html">Rulebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/pages/tools.html">Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contribute.html">Contribute</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="light-theme">
    <div id="tools-sidebar">
      <div id="tools-collapse" class="collapse-icon" onclick="toggleTools()">Tools</div>
      <div id="tools-menu">
        <ul class="navbar-nav mr-auto tools-nav">
          <li class="nav-item tools-item">
            <a id="calculator-menu-option" class="nav-link active" onclick="openTool('calculator')">Calculator<span class="sr-only"></span></a>
          </li>
          <li class="nav-item tools-item">
            <a id="charts-menu-option" class="nav-link" onclick="openTool('charts')">Charts</a>
          </li>
          <li id="roles-menu-option" class="nav-item tools-item">
            <a class="nav-link" onclick="openTool('roles')">Characters</a>
          </li>
      </div>
    </div>
  <div>
    <div id="charts" onclick="closeTools()">
      <div class="grid-view">
        <img class="fullscreen" src="/images/chart-key.png"/>
        <div class="info">
          <div class="info-header">
            Probability Charts
          </div>
          <p>
            Use these charts to help decide how many dice you'll roll for a given challenge
          </p>
          <p>The tables show the nunber of dice rolled on the left, and on the right,
            the probability of rolling at least one of the target number(s)</p>
          <p>
            The charts show the same info, graphed visually on a curve
          </p>
          <p> 
            For example, if you roll three dice, you've only got a 42% chance of rolling at least one 6, 
            while on five dice, that goes up to 60%
          </p>
          <p>See the <a href="/pages/rulebook.html">rulebook</a> for details on challenges rolls</p>
          <p>Also see our <a class="tool-link" onclick="openTool('calculator')">probability calculator</a></p>
        </div>
      </div>
      <div class="light-theme">
        <div class="grid-view">
          <img class="grid-image" src="/images/table-6.png"/>
          <img class="grid-image" src="/images/table-5-6.png"/>
          <img class="grid-image" src="/images/table-4-5-6.png"/>
        </div>
      <div class="grid-view">
        <img class="grid-image" src="/images/chart-6.png"/>
        <img class="grid-image" src="/images/chart-5-6.png"/>
        <img class="grid-image" src="/images/chart-4-5-6.png"/>
      </div>
      <div class="grid-view">
      </div>  
      </div>    
    </div>
    </div>
    <div>
      <div id="calculator" onclick="closeTools()">
        <div class="grid-view">
          <div class="info">
            <div class="info-header">
              Probability Calculator
            </div>
            <p>Calculate how likely you are to roll at least one 
                <select v-model="targets" class="form-select number-dropdown" aria-label="Default select example">
                  <option class="number-dropdown" value="six" selected>6</option>
                  <option class="number-dropdown" value="fiveOrSix">5 or 6</option>
                  <option class="number-dropdown" value="fourFiveOrSix" >4, 5 or 6</option>
                </select>
               on any number of dice.</p>
            <div class="prob-calculator">
              <div class="prob-selector">
                <div class="form-outline">
                  <input min=0 value=1 v-model="numDice" oninput="this.value = Math.abs(this.value)" type="number" id="dice-selector" class="form-control"/>
                </div>
                <div class="incrementer">
                  <div>
                    <div id="add-dice" class="plus" @click="addDice">&plus;</div>
                    <div class="plus" @click="subtractDice">&minus;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="prob-card" class="grid-view card">
            <div id="prob-results" class="card-text">
              {{ percentChance }}% chance of rolling at least one {{targetPhrase}} on {{numDice}} dice
            </div>
          </div>
        </div>           
      </div>
      </div>
      <div>
        <div id="roles" onclick="closeTools()">
          <div class="grid-view">
            <div class="info">
              <div class="info-header">
                Character Concepts
              </div>
              <p>Your character concept is a one-sentence description of the character you'll play in Shenan-Again. See the rulebook for details on character creation.</p>
              <div class="display-rows">
                <select id="role-selector" class="form-select" aria-label="Default select example">
                  <option value="random" selected>Random Role</option>
                  <option value="burglar">Burglar</option>
                  <option value="muscle" >Muscle</option>
                  <option value="con">Con</option>
                  <option value="hacker">Hacker</option>
                </select>
                <br>
                <div class="button-wrapper">
                  <a class="large-button" onclick="getRole()">Generate</a>
                </div>
              </div>
            </div>
            <div class="grid-view card">
              <div id="generated-role" class="card-text">
              </div>
            </div>
            </div>
          </div>
        </div>
  </div>
    
  <nav class="navbar footer fixed-bottom navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="footer-text grey-link" href="https://github.com/bschulzke/shenan-again-creative-project"  target="_blank">GitHub</a>
      </li>
    </ul>
    <a class="grey-link footer-text" href="contact.html">Contact Us</a>
    <a class="footer-text fullscreen">&copy; 2022 Ben Schulzke</a>
  </nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
<script text="type/javascript" src="/js/vue-calc.js"></script>
</body>

</html>
